---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Sistemas Operativos definiciones | Blog de sistemas operativos">
  <section class="flex flex-col justify-center items-center">
    <div>
      <h1 class="text-2xl font-black">Sistemas Operativos definiciones</h1>
      <small>10 de Marzo de 2024 · 5 minutos de lectura</small>
    </div>
  </section>

  <article class="mt-7">
    <section>
      <h2 class="text-xl font-bold">¿Qué es el sistema operativo?</h2>
      <img
        src="/sistema-operativo-windows-e1592788622900.jpg"
        alt="Una vista hacia una pantalla con el sistema operativo windows"
        class="image-windows w-full mt-5"
      />
      <p class="mt-5 text-base">
        El sistema operativo es el software que coordina y dirige todos los
        servicios y aplicaciones que utiliza el usuario en una computadora, por
        eso es el más importante y fundamental. Se trata de programas que
        permiten y regulan los aspectos más básicos del sistema. Los sistemas
        operativos más utilizados son Windows, Linux, OS/2 y DOS.
      </p>
      <p class="mt-5 text-base">
        Los sistemas operativos, también llamados núcleos o kernels, suelen
        ejecutarse de manera privilegiada respecto al resto del software, sin
        permitir que un programa cualquiera realice cambios de importancia sobre
        él que puedan comprometer su funcionamiento.
      </p>
      <p class="mt-5 text-base">
        El sistema operativo es el protocolo básico de operatividad del
        computador, que coordina todas sus demás funciones de comunicaciones, de
        procesamiento, de interfaz con el usuario.
      </p>
      <p class="mt-5 text-base">
        Las primeras versiones de las computadoras no tenían sistemas
        operativos. En la década de los sesenta los ordenadores usaban
        procesamientos por lotes y fue durante estos años cuando comenzaron a
        desarrollarse los sistemas operativos.
      </p>
    </section>

    <section class="mt-7">
      <h2 class="text-xl font-bold">¿Para qué sirve un sistema operativo?</h2>
      <p class="mt-5 text-base">
        Los sistemas operativos permiten que otros programas puedan utilizarlos
        de apoyo para poder funcionar. Por eso, a partir del sistema utilizado
        pueden ser instalados ciertos programas y otros no.
      </p>
      <p class="mt-5 text-base">
        Son parte esencial del funcionamiento de los sistemas informáticos y la
        pieza de software central en la cadena de procesos, ya que establecen
        las condiciones mínimas para que todo funcione: la administración de los
        recursos, el método de comunicación con el usuario y con otros sistemas,
        las aplicaciones adicionales.
      </p>
    </section>

    <section class="mt-7">
      <h2 class="text-xl font-bold">Componentes de un sistema operativo</h2>
      <p class="mt-5 text-base">
        El sistema operativo posee tres componentes esenciales o paquetes de
        software que permiten la interacción con el hardware:
      </p>
      <ul class="pl-12 list-disc text-base">
        <li>
          <strong class="text-bold">Sistema de archivos</strong>. Es el registro
          de archivos donde adquieren una estructura arbórea.
        </li>
        <li>
          <strong class="text-bold">Interpretación de comandos</strong>. Se
          logra con aquellos componentes que permiten la interpretación de los
          comandos, que tienen como función comunicar las órdenes dadas por el
          usuario en un lenguaje que el hardware pueda interpretar (sin que
          aquel que dé las órdenes conozca dicho lenguaje).
        </li>
        <li>
          <strong class="text-bold">Núcleo</strong>. Permite el funcionamiento
          en cuestiones básicas como la comunicación, entrada y salida de datos,
          gestión de procesos y la memoria, entre otros.
        </li>
      </ul>
    </section>

    <section class="mt-7">
      <h2 class="text-xl font-bold">Ejemplos de sistemas operativos</h2>
      <img
        src="/sistema-operativo-e1519306848767.jpeg"
        alt="Tres monitores appel con el SO MacOs"
        class="image-macos w-full mt-5"
      />
      <ul class="pl-12 list-disc text-base mt-5">
        <li>
          <strong class="text-bold">Microsoft Windows</strong>. De los más
          populares que existen, inicialmente se trató de un conjunto de
          distribuciones o entornos operativos gráficos, cuyo rol era brindar a
          otros sistemas operativos más antiguos como el MS-DOS una
          representación visual de soporte y de otras herramientas de software.
          Se publicó por primera vez en 1985 y desde entonces se ha actualizado
          a nuevas versiones.
        </li>
        <li>
          <strong class="text-bold">MS-DOS</strong>. Se trata del Sistema
          Operativo de Disco de MicroSoft (siglas en inglés de MicroSoft Disk
          Operating System), uno de los sistemas operativos más comunes para
          computadoras personales IBM durante la década de 1980 y mediados de
          los 90. Contaba con una serie de comandos internos y externos
          mostrados en una pantalla oscura de manera secuencial.
        </li>
        <li>
          <strong class="text-bold">UNIX</strong>. Este sistema operativo fue
          desarrollado en 1969 para ser portable, multitarea y multiusuario. Se
          trata realmente de una familia entera de SO similares, algunas de
          cuyas distribuciones se han ofrecido comercialmente y otros en formato
          libre, siempre a partir del núcleo llamado Linux.
        </li>
        <li>
          <strong class="text-bold">MacOS</strong>. Es el sistema operativo de
          los computadores Macintosh de Apple, también conocido como OSX o Mac
          OSX. Basado en Unix y desarrollado y vendido en computadores Apple
          desde 2002, se trata de la competencia más acérrima del popular
          Windows.
        </li>
        <li>
          <strong class="text-bold">Ubuntu</strong>. Este sistema operativo es
          libre y de código abierto, o sea, todo el mundo puede modificarlo sin
          violar derechos autorales. Toma su nombre de cierta filosofía
          surafricana ancestral, enfocada en la lealtad del hombre hacia su
          propia especie por encima de todo. Basado en GNU/Linux, Ubuntu se
          orienta hacia la facilidad de uso y la libertad total. La empresa
          británica que lo distribuye, Canonical, subsiste brindando servicio
          técnico.
        </li>
        <li>
          <strong class="text-bold">Android</strong>. Este sistema operativo
          basado en el núcleo Linux opera en teléfonos celulares y tablets y
          otros artefactos dotados de pantalla táctil. Fue desarrollado por
          Android Inc. y comprado posteriormente por Google, gracias a lo cual
          es tan popular que las ventas de sistemas informáticos Android superan
          a las de IOS (para teléfonos celulares Macintosh) y a las de Windows
          Phone (para teléfonos celulares MicroSoft).
        </li>
      </ul>
    </section>
  </article>
</Layout>

<style>
  .image-windows {
    aspect-ratio: 800/400;
  }
  .image-macos {
    aspect-ratio: 800/396;
  }
</style>
