---
import Layout from '../../layouts/Layout.astro'
---

<Layout
  title="Evolucion de los Sistemas Operativos | Blog de sistemas operativos"
>
  <section class="flex flex-col justify-center items-center">
    <div>
      <h1 class="text-2xl font-black">Evolucion de los Sistemas Operativos</h1>
      <small>10 de Marzo de 2024 · 10 minutos de lectura</small>
    </div>
  </section>

  <article class="mt-7">
    <section>
      <h2 class="text-xl font-bold">Los Primeros Pasos (1950s - 1960s)</h2>
      <img
        src="/evolucion-sistemas-operativos-1536x877.jpg"
        alt="Imagen con muchos ordenadores mostrando la evolucion de los SO"
        class="image-SO-evolution w-full mt-5"
      />
      <p class="mt-5 text-base">
        Las computadoras de primera generación no poseían un sistema operativo
        en el sentido moderno. Eran máquinas enormes que utilizaban tarjetas
        perforadas y se programaban manualmente para tareas específicas.
      </p>
      <p class="mt-5 text-base">
        Con la llegada de las computadoras de segunda generación en la década de
        1950, se desarrollaron los primeros sistemas operativos para manejar
        hardware más complejo y facilitar la programación. Uno de los primeros
        sistemas operativos fue el GM-NAA I/O, desarrollado para la IBM 704 por
        General Motors y North American Aviation.
      </p>
    </section>

    <section class="mt-5">
      <h2 class="text-xl font-bold">
        El Surgimiento de Multics y Unix (1960s - 1970s)
      </h2>
      <p class="mt-5 text-base">
        En los años 60, el proyecto Multics (Multiplexed Information and
        Computing Service) buscó crear un sistema operativo de tiempo compartido
        y fiable. A pesar de que Multics fue considerado complejo y no logró el
        éxito comercial esperado, estableció conceptos esenciales que serían
        perfeccionados por Unix.
      </p>
      <p class="mt-5 text-base">
        Unix nació como un proyecto más modesto y una reacción ante la
        complejidad de Multics. Desarrollado por Ken Thompson y Dennis Ritchie,
        Unix se destacó por su simplicidad, su capacidad de multitarea y
        multiusuario, y su portabilidad gracias al uso de C.
      </p>
    </section>

    <section class="mt-5">
      <h2 class="text-xl font-bold">
        La Era de los Sistemas Operativos Personales (1980s)
      </h2>
      <p class="mt-5 text-base">
        Con la llegada de los ordenadores personales en la década de 1980, los
        sistemas operativos comenzaron a enfocarse en los usuarios individuales.
        Apareció MS-DOS de Microsoft, un sistema operativo de línea de comandos
        que se hizo popular gracias a su incorporación en los PCs de IBM.
      </p>
      <p class="mt-5 text-base">
        Apple introdujo el Macintosh con su sistema operativo basado en una
        interfaz gráfica de usuario (GUI), lo cual marcó un cambio significativo
        hacia una experiencia de usuario más amigable e intuitiva.
      </p>
    </section>

    <section class="mt-5">
      <h2 class="text-xl font-bold">
        Windows y el dominio de Microsoft (1990s - 2000s)
      </h2>
      <p class="mt-5 text-base">
        Microsoft lanzó Windows en la segunda mitad de la década de 1980, pero
        no fue hasta Windows 3.0 y, posteriormente, Windows 95 que la compañía
        se consolidó como líder del mercado de sistemas operativos de
        escritorio. La facilidad de uso y la compatibilidad con una amplia gama
        de software y hardware contribuyeron a este éxito.
      </p>
    </section>

    <section class="mt-5">
      <h2 class="text-xl font-bold">El Impacto de Linux y el Código Abierto</h2>
      <p class="mt-5 text-base">
        Linux, creado por Linus Torvalds en 1991, surgió como una alternativa de
        código abierto a Unix. A lo largo de los años, Linux ha encontrado su
        lugar no solo en servidores y supercomputadoras sino también en
        dispositivos móviles con Android, que se basa en el kernel de Linux.
      </p>
    </section>

    <section class="mt-5">
      <h2 class="text-xl font-bold">
        El Surgimiento de Sistemas Operativos Móviles
      </h2>
      <p class="mt-5 text-base">
        El cambio hacia la informática móvil dio lugar a nuevos sistemas
        operativos diseñados específicamente para smartphones y tabletas. iOS de
        Apple y Android han dominado este mercado, ofreciendo plataformas
        robustas para una gran variedad de aplicaciones y servicios.
      </p>
    </section>

    <section class="mt-5">
      <h2 class="text-xl font-bold">
        La Era Moderna y la Nube (2010s - Presente)
      </h2>
      <p class="mt-5 text-base">
        La tendencia actual ve un alejamiento de los sistemas operativos locales
        tradicionales hacia servicios basados en la nube, como Chrome OS de
        Google, que se integra estrechamente con los servicios en línea y
        aplicaciones web.
      </p>
    </section>
  </article>
</Layout>

<style>
  .image-SO-evolution {
    aspect-ratio: 1536/877;
  }
</style>
