---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Primer Corte | Blog de Sistemas Operativos">
  <section>
    <h1 class="text-2xl font-black text-center">Primer Corte</h1>
    <p class="mt-5">
      En esta sección introductoria, exploraremos los fundamentos de los
      sistemas operativos y el mantenimiento preventivo y correctivo de
      computadoras. Comenzaremos por comprender la importancia de un sistema
      operativo eficiente para el funcionamiento óptimo de un equipo, junto con
      las prácticas clave para el mantenimiento preventivo que pueden prolongar
      la vida útil de los dispositivos. Además, abordaremos las estrategias para
      el mantenimiento correctivo, que son esenciales para resolver problemas
      técnicos de manera eficaz. ¡Prepárate para sumergirte en el fascinante
      mundo de la informática!
    </p>
  </section>

  <article class="mt-10">
    <section>
      <a href="/articles/OS-evolution">
        <div>
          <h2 class="text-xl font-bold">
            Evolucion de los Sistemas Operativos
          </h2>
          <small>10 de Marzo de 2024 · 10 minutos de lectura</small>
        </div>
        <img
          src="/evolucion-sistemas-operativos-1536x877.jpg"
          alt="Imagen con muchos ordenadores mostrando la evolucion de los SO"
          class="image-SO-evolution w-2/3 md:w-2/5"
          style="margin-top: 1.2rem"
        />
      </a>
      <p class="mt-5 text-base">
        La evolución de los sistemas operativos ha sido un viaje fascinante,
        desde los primeros días de la interacción directa con la máquina hasta
        los sistemas multiprogramados, en red y distribuidos de hoy. Hitos como
        el desarrollo de Unix y el lenguaje C marcaron grandes avances, y la
        evolución continúa con desafíos y oportunidades en el avance del
        hardware y software. Los sistemas operativos han facilitado el trabajo
        de los usuarios y han resuelto problemas cada vez más complejos,
        marcando hitos significativos en la historia de la tecnología.
      </p>
    </section>
    <section class="mt-5">
      <a href="/articles/OS-concepts">
        <div>
          <h2 class="text-xl font-bold">Sistemas Operativos definiciones</h2>
          <small>10 de Marzo de 2024 · 5 minutos de lectura</small>
        </div>
        <img
          src="/sistema-operativo-e1519306848767.jpeg"
          alt="Tres monitores appel con el SO MacOs"
          class="image-macos w-2/3 md:w-2/5"
          style="margin-top: 1.2rem"
        />
      </a>
      <p class="mt-5 text-base">
        Un sistema operativo es un conjunto de programas que permite manejar la
        memoria, disco, medios de almacenamiento de información y los diferentes
        periféricos o recursos de una computadora. Permite interactuar y dar
        órdenes al computador, administrar los recursos del equipo, y es la
        estructura que soporta y maneja todos los programas y partes del
        computador. Algunas de las tareas que realiza incluyen gestionar la
        memoria del sistema, la carga de los diferentes programas, y correr
        procesos.
      </p>
    </section>
    <section class="mt-5">
      <a href="/articles/computer-preventive-maintenance">
        <div>
          <h2 class="text-xl font-bold">
            Mantenimiento correctivo y preventivo de un computador
          </h2>
          <small>9 de Marzo de 2024 · 5 minutos de lectura</small>
        </div>
        <img
          src="/maintenance-computers.webp"
          alt="Mantenimiento de computadoras | Persona con chaqueta mirando una computadoras"
          class="image-maintenance w-2/3 md:w-2/5"
          style="margin-top: 1.2rem"
        />
      </a>
      <p class="mt-5 text-base">
        El mantenimiento preventivo y correctivo de un computador es esencial
        para garantizar su óptimo rendimiento y prolongar su vida útil. En este
        artículo, exploraremos las prácticas fundamentales para prevenir averías
        y resolver problemas técnicos de manera eficaz. Desde la limpieza
        regular de componentes hasta la identificación y solución de fallas,
        descubriremos las estrategias clave para mantener nuestros equipos en
        óptimas condiciones.
      </p>
    </section>
  </article>
</Layout>

<style>
  img {
    margin: 0 auto;
  }
  .image-maintenance {
    aspect-ratio: 16/9;
  }
  .image-macos {
    aspect-ratio: 800/396;
  }
  .image-SO-evolution {
    aspect-ratio: 1536/877;
  }
</style>
