---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Primer Corte | Blog de Sistemas Operativos">
  <section>
    <h1 class="text-2xl font-black text-center">Primer Corte</h1>
    <p class="mt-5">
      En esta sección introductoria, exploraremos los fundamentos de los
      sistemas operativos y el mantenimiento preventivo y correctivo de
      computadoras. Comenzaremos por comprender la importancia de un sistema
      operativo eficiente para el funcionamiento óptimo de un equipo, junto con
      las prácticas clave para el mantenimiento preventivo que pueden prolongar
      la vida útil de los dispositivos. Además, abordaremos las estrategias para
      el mantenimiento correctivo, que son esenciales para resolver problemas
      técnicos de manera eficaz. ¡Prepárate para sumergirte en el fascinante
      mundo de la informática!
    </p>
  </section>

  <article class="mt-10">
    <section>
      <a href="/articles/computer-preventive-maintenance">
        <div>
          <h2 class="text-xl font-bold">
            Mantenimiento correctivo y preventivo de un computador
          </h2>
          <small>9 de Marzo de 2024 · 5 minutos de lectura</small>
        </div>
        <img
          src="/maintenance-computers.webp"
          alt="Mantenimiento de computadoras | Persona con chaqueta mirando una computadoras"
          class="image-maintenance w-2/5"
          style="margin-top: 1.2rem"
        />
      </a>
      <p class="mt-5 text-base">
        El mantenimiento preventivo y correctivo de un computador es esencial
        para garantizar su óptimo rendimiento y prolongar su vida útil. En este
        artículo, exploraremos las prácticas fundamentales para prevenir averías
        y resolver problemas técnicos de manera eficaz. Desde la limpieza
        regular de componentes hasta la identificación y solución de fallas,
        descubriremos las estrategias clave para mantener nuestros equipos en
        óptimas condiciones.
      </p>
    </section>
  </article>
</Layout>

<style>
  .image-maintenance {
    aspect-ratio: 16/9;
    margin: 0 auto;
  }
</style>
