<header class="my-9">
  <a href="/">
    <img
      src="/logo.png"
      alt="Logo del blog de sistemas operativos"
      class="w-16"
    />
  </a>
</header>

<style>
  img {
    aspect-ratio: 192/192;
  }
</style>
