<div class="h-full pb-7">
  <h2 class="text-lg mb-3 font-bold">Últimos Artículos</h2>

  <article>
    <a
      class="max-w-2xl pl-5 flex justify-start hover:bg-slate-600 rounded-lg transition-colors"
      href="/articles/OS-evolution"
    >
      <img
        src="/time.svg"
        alt="Icono de Reparacion"
        class="w-9 ml-2 aspect-auto"
      />
      <div class="m-7">
        <p class="font-semibold">Evolución de los Sistemas Operativos</p>
        <small class="text-slate-300">10 de Marzo de 2024</small>
      </div>
    </a>
  </article>
  <article>
    <a
      class="max-w-2xl pl-5 flex justify-start hover:bg-slate-600 rounded-lg transition-colors"
      href="/articles/OS-concepts"
    >
      <img
        src="/ubuntu.svg"
        alt="Icono de Reparacion"
        class="w-9 ml-2 aspect-auto"
      />
      <div class="m-7">
        <p class="font-semibold">Sistemas Operativos definiciones</p>
        <small class="text-slate-300">10 de Marzo de 2024</small>
      </div>
    </a>
  </article>
  <article>
    <a
      class="max-w-2xl pl-5 flex justify-start hover:bg-slate-600 rounded-lg transition-colors"
      href="/articles/computer-preventive-maintenance"
    >
      <img
        src="/repair-icon.svg"
        alt="Icono de Reparacion"
        class="w-9 ml-2 aspect-auto"
      />
      <div class="m-7">
        <p class="font-semibold">
          Mantenimiento correctivo y preventivo de un computador
        </p>
        <small class="text-slate-300">9 de Marzo de 2024</small>
      </div>
    </a>
  </article>
</div>
